{#[nom]_widget permet de modifier la sortie de form_widget sur un champ donné, ici sur l'image de l'annonce 
C'est un theme personnalisé de TWIG qu'il faut déclarer ({% form_theme form _self %}) #}
{% block _ad_images_widget %}

    <p>Ici, vous pouvez ajouter vos propres images</p>
    {#la variable form représente uniquement le champ image du formulaire #}
    {{form_widget(form)}}

    {# permet d'attribuer le bon id à chaque formulaire d'ajout d'image créé#}
    <input type="hidden" id="widgets-counter" value="0">



    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>

{% endblock %}


{% block _ad_images_entry_row %}

{{form_widget(form)}}

{% endblock %}




{# les entry représente un élément de la CollectionType #}
{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
        {# la variable form représente une entry donc soit url soit caption #}
            {{form_widget(form.url)}}
                    </div>
                        <div class="col">
            {{form_widget(form.caption)}}
            {{form_errors(form.caption)}}
            {{form_errors(form.url)}}
                        </div>
                </div>
            </div>
        <div class="col-2">
    <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div>
        </div>
    </div>

{% endblock %}